@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="alert alert-danger">
    Bu sayfaya erişim yetkin yok.
</div>

<a class="btn btn-secondary"
   asp-area=""
   asp-controller="Home"
   asp-action="Index">
    Ana Sayfaya Dön
</a>
