@using Application.DTOs.MovieDTOs
@model MovieDetailDto

@{
    ViewData["Title"] = "Film Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-12 col-md-9">
        <h3>Film Sil</h3>

        <div class="alert alert-warning">
            <strong>@Model.Title</strong> filmi silinsin mi?
        </div>

        <form asp-area="DashBoard" asp-controller="Movie" asp-action="DeleteConfirmed" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="id" value="@Model.Id" />

            <button class="btn btn-danger" type="submit">Evet, Sil</button>
            <a class="btn btn-secondary" asp-area="DashBoard" asp-controller="Movie" asp-action="Index">Vazgeç</a>
        </form>
    </div>
</div>
