@* MVC/Views/Shared/_DashBoardSidebar.cshtml *@
<div class="list-group">
    <a class="list-group-item list-group-item-action active"
       asp-area="DashBoard" asp-controller="Home" asp-action="Index">
        DashBoard Anasayfa
    </a>

    <a class="list-group-item list-group-item-action" href="#">
        Kategoriler
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Filmler
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Üyeler
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Teslimatlar
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Muhasebe/Raporlar
    </a>
</div>
